@charset "UTF-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	font-weight:100;	
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html, body {
	width:100%;
	height:100%;
	background: url(../img/bg.jpg) center center fixed no-repeat;
	font-family: Myriad Pro, Lucida Grande, Lucida Sans Unicode, Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px; 
	line-height: 1.1; 
	font-weight: 100;	
	min-width: 760;
	box-sizing: border-box;

   -moz-background-size: cover; /* Firefox до 4.0 */
   -webkit-background-size: cover; /* Safari и Chrome */
   -o-background-size: cover; /* Opera до версии 10.53 */
  	background-size: cover; /* CSS3 */
	
	overflow: hidden;
}

@font-face {
  font-family: channel;
  src: local("Channel_Slanted1"),
       url(../fonts/Channel_Slanted1.ttf);
}

#texture { 
	width:100%;
	height:100%;
	background: url(../img/textures.png) 0 0px fixed;
z-index:2;
}

#wrapper {
	width: 760px;
	border:0px solid white;
	margin: auto;
	z-index:1000;
}

#space { position: relative; height: 40px;}

header { 
	position: relative;
	width: 740px; 
	height: 172px; 
	margin: 0px auto 0 auto;  
	background: url(../img/header.png)  no-repeat; 
}
#logo {text-align: center; padding-top: 65px; padding-right: 20px; }


h1 { font-family: channel; text-align: center; font-size: 20px; color: #ffffff; margin: 25px 0; }
p { width: 500px; margin: auto; font-size: 18px; color: #ffffff; text-align: center; margin-top: 8px; margin-bottom: 8px; }

nav { position: relative; width: 500px; margin:auto; border: 0px solid white; overflow: auto; }
nav div { position: relative; float: left; width: 150px; height: 150px; margin-right: 25px; border-radius: 50%; background: #09F; opacity:0.8; }
nav div:nth-of-type(3) { margin-right: 0px; }

footer { 
	position: relative; 
	width: 510px; 
	margin: auto;  
	text-align: center;
	padding-top: 30px;
	padding-right: 34px;
	background: url(../img/footer.png) top center no-repeat;
 }
 
.phone { font-size: 24px; color: #a2ff00; }
.mail {  font-size: 24px;  text-decoration: none; color: #0fc4ff; }
.separator {  font-size: 24px; color: #ffffff; }


/*CLOUDS*/
#clouds { position:absolute; width: 100%; height: 100%; opacity:0.2;}

/*CLOUD*/
#sky {
	height: 400px;
	position: relative;
	-moz-perspective: 1000px;				// глубина сцены
	-webkit-perspective: 1000px;
	perspective: 1000px;
	overflow: hidden;
	background:-moz-linear-gradient(top, #072ac0, #4466f9);
	background:-webkit-linear-gradient(top, #072ac0, #4466f9);
	backround-image: linear-gradient(top, #072ac0, #4466f9);
}
#world {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;	
	transform-style: preserve-3d;				// объекты поддаются 3d траснформациям
	position: relative;
	height: 100%;
}
#world>div {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;	
	transform-style: preserve-3d;				
}
.cloud {
	position: absolute;
}
.cloudLayer {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 356px;		/* размеры не обязательно подстраивать под размеры текстуры */
	height: 356px;
	margin-left: -178px;
	margin-top: 10%;
	-webkit-transition: opacity .5s ease-out;
	-moz-transition: opacity .5s ease-out;
	transition: opacity .5s ease-out;
}
